.dv{float:right;border:solid 1px #000;text-align:center;background:#eee;margin:0;padding:0;}
.dv a{display:block;font-size:.8em;}
.dv img{border-bottom:solid 1px #000;margin:0;}
.popis{margin:2px 5px 2px 20px;}
