body{font-family:sans-serif;line-height:1.5em;color:#000;background:#eed;}
a img{border-width:0;}
h1{font-size:2.5em;}
h2{font-size:1.8em;}
p{font-size:1.5em;}
#obsah{width:340px;padding:1em 150px 0 0;margin:0;background:url("http://zonglovani.info/img/f/fb-pruh.png") 100% 0 no-repeat #fff;}
a:link{color:#009;font-weight:bold;text-decoration:underline;}
a:visited{color:#909;font-weight:bold;text-decoration:underline;}
a:active,a:hover,a:focus{color:#f00;font-weight:bold;text-decoration:underline;}
ul, ol {margin:1em 1em 1em 0;padding-left:3.4em;list-style-type:circle;}
li{font-size:1.5em;line-height:1.5em;padding: 0.2em 0 0.2em 0.5em;}
