#map_canvas div div div {text-align:left;}
.kontejner{width:100%;}
#map_canvas{width:100%;height:300px;border-top:solid 1px #000;border-bottom:solid 1px #000;background:#eee;}
.gmnoprint{text-align:left;}
.gmnoprint h3{margin:0;padding:0;}
.gmnoprint ul{margin:0 0 0 2px;padding:0;}
.cleaner{clear:all;}
#legenda{display:none;}
h3{color:#c00;}
#legenda p{padding:2px;}
.oblasti{text-align:left;}
.oblasti h3{color:#000;font-size:1.1em;}
.oblasti table{padding:0;text-align:left;}
.oblasti tr{padding:0;margin:0;text-align:left;}
.oblasti h4{margin:0;padding:0;text-align:left;font-size:1em;}
.oblasti td{width:30%;vertical-align:top;}
.oblasti ul{margin:0;padding:0;list-style-type:none;}
li{margin:5px 0;padding:5px 0;}
