body{font-family:sans-serif;font-size:1.2em;line-height:1.7em;color:#000;background:#fff;margin:0;padding:0;}
#ucet{display:block;font-size:0.8em;text-align:right;margin:5px;}
.hlavickabg{padding:0;margin:0;}
a img{border-width:0;}
#menu{border-top:dashed 1px #999;margin:5px 5px 0 5px;width:90%;padding-top:5px;}
#menu ul{margin:5px 0;padding:0;list-style:none;}
#menu ul li{margin:5px 0;padding:3px 0 3px 0;list-style:none;}
#menu ul li ul{padding:5px 0;margin:3px 0 3px 1em;}
#menu ul li ul li{padding:5px 0;margin:3px 0 3px 1em;list-style:circle;}
#paticka{text-align:center;}
#paticka #dolni{background:#fd3;padding:5px;}
#andoridapadd{background:#fd3;padding:5px;border-bottom:solid 2px #000;}
p,pre,hr{clear:both;margin:0 0 5px 5px;}
hr{width:90%;margin:0 5px;}
code{color:#060;font-weight:bold;}
p img{margin:0 100% 5px 0;border:1px solid #000;float:left;clear:right;}
.formimg{margin:0 100% 5px 0;border:3px solid #c00;float:left;clear:right;}
#pp{width:200px;height:130px;}
h1{font-size:1.6em;font-weight:bold;margin:0 0 5px 5px;letter-spacing:-1px;}
h2{font-size:1.4em;font-weight:bold;margin:0 0 5px 5px;clear:both;}
h3{font-size:1.3em;font-weight:bold;margin:0 0 5px 5px;clear:both;}
h4{font-size:1.2em;font-weight:bold;margin:0 0 5px 5px;clear:both;}
h5{font-size:1em;font-weight:bold;margin:0 0 5px 5px;clear:both;}
a{font-weight:bold;}
a:link{color:#009}
a:visited{color:#909}
.pdf{background:url("img/p/pdf.png") 100% 50% no-repeat;padding-right:18px;}
.external{background:url("img/e/external.png") 100% 50% no-repeat;padding-right:16px;}
.nahoru{float:right;display:block;clear:both;margin:5px;}
.zpet{text-align:right;display:block;clear:both;margin:5px;}
.spacer{height:20px;width:100%;clear:both;}
.td{background:#eee;margin:2px;padding:4px 30px 4px 30px;text-align:center;}
.capt{background:#ddd;margin:2px;padding:4px 30px 4px 30px;text-align:center;}
dt{font-weight:bold;margin:2px 10px 7px 20px;}
dd{margin:2px 10px 7px 40px;}
.vp{list-style-type:upper-alpha;}
.youtubevideo{width:480px;height:380px;background:#ccc;}
.wyoutubevideo{width:480px;height:295px;background:#ccc;}
.vyrazne{font-weight:bold;}
.kontakt img{margin:0;padding:0;border:0;background-color:#fff;vertical-align:text-bottom;clear:none;float:none;}
.kalendar{margin-left:5px;border-left:1px solid #ccc;border-top:1px solid #ccc;}
.kalendar th{text-align:center;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.kalendar caption{font-weight:bold;padding:5px 0;border-right:1px solid #ccc;border-top:1px solid #ccc;border-left:1px solid #ccc;}
.den{text-align:left;vertical-align:top;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:2px;}
.den_prazdny{text-align:left;vertical-align:top;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.udalost{background-color:#eee;}
.dnesni{border:solid 2px #000;background-color:#eef;}
.kal_prev{padding:2px;border:0;}
.kal_next{padding:2px;text-align:right;border:0;}
.kalnav,.kal_week_day,.kal_month_day{padding:2px;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.kal_akt{padding:2px;border-bottom:1px solid #ccc;}
.kal_entry{margin:0;padding:0;list-style:none;}
.wd_5,.wd_6{background-color:#fe3;}
fieldset{margin:5px;}
.textbox{margin:5px;width:80%;}
.datebox{margin:5px;}
.readonlyform{margin:5px;}
form ul{margin:0;padding:0;}
form ul li{list-style:none;margin:5px 0 15px 0;text-align:left;}
.kratkypopis{margin:0;padding:0;display:block;}
.vpravo{text-align:right;}
.knoflik{font-weight:bold;width:150px;}
textarea{width:100%;height:100px;}
ul.alert{border:dashed 1px #000;background:#ffc;margin:5px 0 5px 15px;}
sup.ppm{padding:0 .3em;font-weight:bold;color:#f00;}
.tooltip{font-size:0.8em;color:#666;}
a.edit{border-left:solid 3px #f00;}
.diskuse{border-left:1px solid #ccc;border-top:1px solid #ccc;line-height:1em;margin-bottom:5px;}
.diskuse th{border-right:1px solid #ccc;border-bottom:1px solid #ccc;font-size:.7em;background:#eee;padding:0 0 5px 5px;}
.diskuse td{border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:0 0 5px 5px;}
.diskuse td img{vertical-align: bottom;}
.tabulka{border-left:1px solid #ccc;border-top:1px solid #ccc;margin-bottom:10px;}
.tabulka th{border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:#eee;padding:4px 10px;text-align:center;}
.tabulka td{border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:4px 10px;text-align:right;}
.nahled{display:block;float:left;width:150px;height:150px;background:#eee;border:solid 1px;border-color:#aaa #444 #444 #aaa;margin:5px;}
.nahled img{border:solid 1px;border-color:#444 #aaa #aaa #444;}
.add{background:url("img/a/add.png") 0 50% no-repeat;padding-left:20px;}
#flink{display:none;}
#zslogo{display:block;padding:5px 5px 1px 5px;background:#fd3;margin-bottom:5px;text-decoration:none;color:#000;}
.horotable{clear:both;margin: 2px 10px 7px 20px;}
#ttnadpis{margin:5px;padding:0;text-align:right;border-bottom:dashed 1px #999;}
.hvezdicka{float:right;}
li.star{list-style:url(img/s/star-s.png);}
.skrtanec{text-decoration:line-through;}
ul{list-style:circle;margin:0 0 5px 0;}
.szn{list-style:circle;}
.szn li{list-style-position:inside;}
.skryte{display:none;}
.animace img{border:0;margin-right:5px;text-align:bottom;}
abbr{text-decoration:none;border-bottom:0px dashed #000;}
.pl{background:#eee;padding:4px;margin:0;}
.ps{background:#9f9;padding:4px;margin:0;}
.kamdal ul{margin:0;}
li{padding:5px 0;margin:10px 0;}
