.rss_fireshow,.rss_fireshowczfotky{list-style-image:url(/rss/ikonky/fireshow.cz.png);}
.rss_flow{list-style-image:url(/rss/ikonky/theflow.png);}
.rss_zonglujcz{list-style-image:url(/rss/ikonky/zongluj.cz.png);}
.rss_zonglujeu{list-style-image:url(/rss/ikonky/zongluj.eu.png);}
.rss_dvaadvacitka{list-style-image:url(/rss/ikonky/22.png);}
.rss_bratri{list-style-image:url(/rss/ikonky/bratri.png);}
.rss_bratri_img{list-style-image:url(/rss/ikonky/rajce.png);}
.rss_kruhovaparabola{list-style-image:url(/rss/ikonky/kruhovaparabola.png);}
.rss_zongler{list-style-image:url(/rss/ikonky/zongler.cz.png);}
.rss_adinfinitum{list-style-image:url(/rss/ikonky/ad8.png);}
.rss_slabikarkalendar{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_slabikarlide{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_slabikardiskuse{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_slabikartip{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_slabikarobrazky{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_infinitos{list-style-image:url(/rss/ikonky/infinitos.png);}
.rss_tribo{list-style-image:url(/rss/ikonky/tribo.png);}
.rss_cirqueon{list-style-image:url(/rss/ikonky/cirqueon.png);}
.rss_esteladefuego{list-style-image:url(/rss/ikonky/esteladefuego.cz.png);}
.rss_jugglesk{list-style-image:url(/rss/ikonky/juggle.sk.png);}
.rss_zongleros{list-style-image:url(/rss/ikonky/zongleros.png);}
.rss_kufr{list-style-image:url(/rss/ikonky/kufr.png);}
.rss_cascabel{list-style-image:url(/rss/ikonky/cascabel.png);}
.rss_knockknock{list-style-image:url(/rss/ikonky/knockknock.png);}
