#zs-kalendar{font-family:sans-serif;border:solid 1px #eee;width:150px;margin:5px;padding:0;background:#000;color:#fff;line-height:16px;}
.zs-head{margin:0;padding:4px 5px;font-size:16px;background:url("http://zonglovani.info/ostatni/rozsireni/micky16.png") 97% 80% no-repeat #333;border-bottom:solid 1px #eee;}
.zs-nadpis{margin:0;padding:5px;font-size:16px;}
.zs-link{text-decoration:underline;color:#e00;font-weight:bold;}
.zs-datum{margin:0;padding:0 0 2px 5px;font-size:11px;font-style:italic;}
.zs-popis{margin:0;padding:0 5px 5px 5px;font-size:14px;}
.zs-pridej{margin:0;padding:5px;}
.zs-addlink{background:url("http://zonglovani.info/img/a/add.png") 0 50% no-repeat;padding-left:20px;text-decoration:underline;color:#e00;font-weight:bold;}
.zs-img{margin:0;padding:0 5px 5px 5px;border:0;}
.zs-event{margin:0;padding:0;}
.zs-cleaner{margin:0;padding:0;clear:both;}
