body{font-family:sans-serif;font-size:1em;line-height:1.5em;color:#000;background:#eed;margin:0;padding:0;text-align:center;}
#hlavicka{text-align:center;width:750px;height:120px;padding:0;margin:0 auto 0 auto;background:url("img/o/okraje.png") 50% 20px no-repeat #eed;position:relative;}
.hlavickabg{text-align:left;width:735px;height:120px;padding:0;margin:0 auto 0 auto;background:transparent}
.hlm{background:url('img/m/micky-logo.gif') no-repeat 95% 100%;}
.hlkr{background:url('img/k/kruhy-logo.gif') no-repeat 99% 100%;}
.hlkz{background:url('img/k/kuzely-logo.gif') no-repeat 92% 100%;}
#ucet{display:block;position:absolute;text-align:right;width:730px;height:10px;top:0;right:0;padding:0;font-size:.7em;}
#hlavicka img{padding:0;margin:35px 0 0 15px;}
a img{border-width:0;}
#stranka{text-align:center;width:750px;padding:0;margin:0 auto 0 auto;background:url("img/t/telo.gif") 50% 0 repeat-y #fff;}
#obsah{float:left;width:520px;padding:1em 0 0 0;margin:0;display:inline;text-align:left;}
#menu{padding:0;float:right;margin:0;display:inline;width:180px;text-align:left;border-top:0;}
#menu ul{margin:0;padding:0;list-style:none;}
#menu ul li{margin:0;padding:0;list-style:none;}
#menu ul li ul{padding:0;margin:0 0 0 1em;}
#menu ul li ul li{padding:0;margin:0 0 0 1em;list-style:circle;}
#paticka{text-align:center;width:750px;height:50px;padding:0;margin:0 auto 0 auto;background:url("img/o/okraje.png") 50% 100% no-repeat #eed;clear:both;line-height:1em;}
#paticka a{font-weight:normal;}
#paticka #dolni{padding:15px 0 0 0;margin:0 auto 0 auto;line-height:1em;background:transparent;}
p,pre,hr{clear:both;margin:2px 10px 7px 20px;}
code{color:#060;font-weight:bold;}
p img{margin:0 15px 15px 0;border:1px solid #000;float:left;clear:both;background-color:#ccc;}
h1{font-size:2em;line-height:1em;font-weight:bold;margin:10px 10px 10px 20px;letter-spacing:-1px;}
h2{font-size:1.7em;line-height:1em;font-weight:bold;margin:10px 10px 10px 20px;clear:both;}
h3{font-size:1.4em;line-height:1em;font-weight:bold;margin:10px 10px 10px 20px;clear:both;}
h4{font-size:1.2em;font-weight:bold;margin:5px;clear:both;}
h5{font-size:1em;font-weight:bold;margin:10px 10px 10px 20px;clear:both;}
a:link{color:#009;font-weight:bold;}
a:visited{color:#909;font-weight:bold;}
a:active,a:hover,a:focus{color:#f00;font-weight:bold;}
.pdf{background:url("img/p/pdf.png") 100% 50% no-repeat;padding-right:18px;}
.external{background:url("img/e/external.png") 100% 50% no-repeat;padding-right:16px;}
.nahoru{float:right;display:block;clear:both;margin:5px;}
.zpet{text-align:right;display:block;clear:both;margin:5px;}
.spacer{height:20px;width:100%;clear:both;}
.table{width:90%;position:relative;left:5%;}
.td{background:#eee;margin:2px;padding:4px 30px 4px 30px;text-align:center;}
.capt{background:#ddd;margin:2px;padding:4px 30px 4px 30px;text-align:center;}
dt{font-weight:bold;margin:2px 10px 7px 20px;}
dd{margin:2px 10px 7px 40px;}
.vp{list-style-type:upper-alpha;}
.youtubevideo{width:480px;height:380px;background:#ccc;}
.wyoutubevideo{width:480px;height:295px;background:#ccc;}
.vyrazne{font-weight:bold;}
.kontakt img{margin:0;padding:0;border:0;background-color:#fff;vertical-align:text-bottom;clear:none;float:none;}
.kalendar{margin-left:15px;border-left:1px solid #ccc;border-top:1px solid #ccc;line-height:1em;}
.kalendar th{text-align:center;border-right:1px solid #ccc;border-bottom:1px solid #ccc;width:85px;font-size:.7em;background:#eee;}
.kalendar caption{font-weight:bold;padding:5px 0;border-right:1px solid #ccc;border-top:1px solid #ccc;border-left:1px solid #ccc;}
.den{height:85px;width:85px;text-align:left;vertical-align:top;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:2px;}
.den_prazdny{height:85px;width:85px;text-align:left;vertical-align:top;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.udalost{background-color:#eee;}
.dnesni{border:solid 2px #000;background-color:#eef;}
.kal_prev{padding:2px;border-bottom:1px solid #ccc;font-size:.6em;}
.kal_next{padding:2px;text-align:right;border-bottom:1px solid #ccc;border-right:1px solid #ccc;font-size:.6em;}
.kal_akt{padding:2px;border-bottom:1px solid #ccc;font-size:.6em;}
.kal_entry{margin:0;padding:0;list-style:none;line-height:.6em;}
.kal_entry li a{font-size:.5em;}
fieldset{margin-left:15px;width:500px;padding:5px 0 5px 10px;}
#malehledani{margin:0;padding:0;font-size:.8em;}
#malehledani fieldset{margin:2px;width:140px;}
#malehledani input.policko{margin:2px;width:130px;}
#malehledani input.knoflik{margin:2px;width:65px;}
.textbox{width:300px;margin:0 10px 0 10px;}
.datebox{width:280px;margin:0 10px 0 10px;}
.readonlyform{width:300px;margin:0 10px 0 10px;}
form ul{margin:0;padding:0;}
form ul li{list-style:none;margin:5px 0 15px 0;text-align:left;}
.kratkypopis{margin:0;padding:0;display:block;}
.vpravo{text-align:right;}
.knoflik{font-weight:bold;width:150px;}
textarea{width:450px;height:100px;}
ul.alert{border:dashed 1px #000;background:#ffc;margin:5px 0 5px 15px;}
a.info:hover,a.info:focus,a.info:active{background:#ff0;color:#000;}
a.info span.tooltip{display:none;}
a.info:hover span.tooltip,a.info:focus span.tooltip,a.info:active span.tooltip{background:#fff;color:#000;display:block;position:absolute;left:2em;top:2em;font-weight:normal;font-size:.7em;line-height:1em;width:17em;border:1px solid #666;padding:.2em;text-decoration:none;z-index:10;}
a.info{position:relative;border:1px solid;padding:0 .3em;cursor:help;font-weight:bold;border-color:#666;background:#fff;color:#666;text-decoration:none;}
sup.ppm{padding:0 .3em;font-weight:bold;color:#f00;}
a.edit{border-left:solid 3px #f00;}
.diskuse{margin-left:20px;border-left:1px solid #ccc;border-top:1px solid #ccc;line-height:1em;width:520px;margin-bottom:20px;}
.diskuse th{border-right:1px solid #ccc;border-bottom:1px solid #ccc;font-size:.7em;background:#eee;padding:2px 5px;}
.diskuse td{border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:2px 5px;}
.diskuse td img{vertical-align: bottom;}
.tabulka{margin-left:20px;border-left:1px solid #ccc;border-top:1px solid #ccc;line-height:1em;width:420px;margin-bottom:20px;}
.tabulka th{border-right:1px solid #ccc;border-bottom:1px solid #ccc;background:#eee;padding:4px 10px;text-align:center;}
.tabulka td{border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding:4px 10px;text-align:right;}
.nahled{display:block;float:left;width:150px;height:150px;background:#eee;border:solid 1px;border-color:#aaa #444 #444 #aaa;margin:5px;}
.nahled img{border:solid 1px;border-color:#444 #aaa #aaa #444;}
.drobky{font-size:.8em;margin-top:-20px}
.add{background:url("img/a/add.png") 0 50% no-repeat;padding-left:20px;}
#ulink{float:left;background:url("/ulita/u.png") 0 50% no-repeat;padding-left:40px;}
#flink{display:block;float:left;background:url("/img/f/fbp.png") 0 50% no-repeat;padding-left:20px;}
a#zslogo{display:block;height:71px;width:442px;background:url("/img/l/logo.gif") 0 0 no-repeat;position:absolute;top:35px;left:20px;}
a#zslogo h2{text-indent:-9999px;}
.fblink{background:url("/img/f/fbp.png") 0 50% no-repeat;padding-left:20px;}
.horotable{clear:both;margin: 2px 10px 7px 20px;}
#ttnadpis{margin:0 0 0 20px;padding:0;text-align:right;border-bottom:solid 1px #999;font-size:0.7em;font-weight:normal;}
.obrazkovnik{float:left;margin:15px 0 15px 20px;}
.obrazkovnik a img{border:solid 1px #000;}
.u{text-decoration:underline;}
.hvezdicka{float:right;}
li.libi{list-style:url(img/p/palec-nahoru-s.png);}
li.nelibi{list-style:url(img/p/palec-dolu-s.png);}
li.star{list-style:url(img/s/star-s.png);}
.skrtanec{text-decoration:line-through;}
.feedback{clear:both;padding-top:30px;font-size:0.7em;color:#333;display:block;}
ul{list-style:circle;}
.szn{margin:0;padding:0;list-style:circle;}.szn li{list-style-position:inside;}
.skryte{display:none;}
.animace{padding-top:15px;}.animace a{line-height:2em;}.animace img{border: solid 0px;margin-top:-13px;margin-right:5px;}
abbr{text-decoration:none;border-bottom:0px dashed #000;}
.pl{background:#eee;padding:4px;margin:0;}
.ps{background:#9f9;padding:4px;margin:0;}
li{padding:0;}
