ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
RewriteEngine	on
RewriteBase /

RewriteRule ^(.+)\.css$ css/css.php?style=$1 [L]

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/$1 [R=301,QSA,NE,L]

RewriteCond %{REQUEST_FILENAME}	^.*\.(inc|sh)$
RewriteRule ^(.*)$ $1 [F]

RewriteRule ostatni\.html$ ostatni/index.php [L]
RewriteRule (.*).html ostatni/$1.php [L]

RewriteRule ^zonglovani.rss$ rss.php [L]
RewriteRule ^zonglovani.xml$ rss.php?v=2 [L]
