.link_navod{list-style:url(img/l/list-navod.png);}
.link_prev{list-style:url(img/l/list-prev.png);}
.link_next{list-style:url(img/l/list-next.png);}
.poznamka{font-size:.8em;}
.kamdal ul{margin-left:10px;}
.anim_siteswap{padding:30px;background:#fff;}
