body {
 font-family: "Times CE","Times New Roman CE","Times","Times New Roman","serif";
 font-size: 1em;
 color: #000000;
 background: #ffffff;
 margin: 5px;
 padding: 5px;
}
  
a:link {
 color: #000000;
 text-decoration: none;
}

a:visited {
 color: #000000;
 text-decoration: none;
}

a:active {
 color: #0000;
 text-decoration: none;
}

img {
 width: 200px;
 height: 200px;
 border-width: 1px;
 border-style: solid;
 border-color: #000000;
 margin-right: 10px;
 margin-bottom: 10px;
 margin-top: 2px;
}


.nadpis{
	font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0em;
  padding: 0px; 
}

.podnadpis{
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.4em;
  padding: 0px; 
}
