body {
 font-family: sans-serif;
 font-size: 1em;
 line-height: 1.5em;
 color: #000;
 background: #ccc;
 margin: 0px;
 padding: 0px;
 text-align: center;
}
 

#hlavicka {
	text-align: center;
	width: 750px;
	height: 100px;
	padding: 0;
	margin: 0 auto 0 auto;
	background: url("img/h/hlavicka.png") 50% 0 repeat-y #fff;
}

#hlavicka div{
	text-align: left;
	width: 720px;
	height: 100px;
	padding: 0;
	margin: 0 auto 0 auto;
}

#hlavicka img{
	padding: 0;
	margin: 15px 0 0 15px;
}

a img{
	border-width: 0px;
}

#stranka {
	text-align: center;
	width: 750px;
	padding: 0;
	margin: 0 auto 0 auto;
	background: url("img/t/telo.gif") 50% 0 repeat-y #fff;
}

#obsah {
	float: left;
	width: 520px;
	padding: 1em 0 0 0;
	margin: 0 0 0 0;
	display: inline;
	text-align: left;
}

#menu {
	padding: 0;
	float: right;
	margin: 0 0 0 0;
	display: inline;
	width: 180px;
	text-align: left;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}


#menu ul li ul{
	padding: 0;
	margin: 0 0 0 1em;
	list-style: circle;
}

#menu ul li ul li{
	padding: 0;
	margin: 0 0 0 1em;
	list-style: circle;
}



#paticka{
	text-align: center;
	width: 750px;
	height: 50px;
	padding: 0;
	margin: 0 auto 0 auto;
	background: url("img/p/paticka.png") 50% 0 no-repeat #eee;
	clear: both;
 	line-height: 1em;
}

#paticka a {
	font-weight: normal;
}


#paticka #dolni{
/*	padding: 5px 0; */
	padding: 15px 0 0 0;
	margin: 0 auto 0 auto;
 	line-height: 1em;
}


p, pre {
 clear: both;
 margin: 2px 10px 7px 20px;
}

code {
	color: #060;
	font-weight: bold;
}

p img {
 margin: 0px 15px 15px 0px;
 border: 1px solid #000;
 float: left;
 clear: both;
 background-color: #ccc;
}

h1 {
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
	margin: 10px 10px 10px 20px;
	letter-spacing: -1px;
	clear: both;
 
}

h2 {
	font-size: 1.7em;
	line-height: 1em;
	font-weight: bold;
	margin: 10px 10px 10px 20px;
	clear: both;
}

h3 {
	font-size: 1.4em;
	line-height: 1em;
	font-weight: bold;
	margin: 10px 10px 10px 20px;
	clear: both;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 5px;
	clear: both;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin: 10px 10px 10px 20px;
	clear: both;
}

a:link {
 color: #000099;
 font-weight: bold;
}


a:visited {
  color: #990099;
 font-weight: bold;
}

a:active {
  color: #ff0000;
 font-weight: bold;
}

.nahoru{
	float: right;
	display: block;
	clear: both;
	margin: 5px;
}

.zpet{
	text-align: right;
	display: block;
	clear: both;
	margin: 5px;
}


.spacer {
	height: 20px;
	width: 100%;
	clear: both;
}

.table
 {
 width: 90%;
 position: relative;
 left: 5%;
}

.td {
 background: #eee;
 margin: 2px;
 padding: 4px 30px 4px 30px;
 text-align: center;
}


.capt {
 background: #ddd;
 margin: 2px;
 padding: 4px 30px 4px 30px;
 text-align: center;
}

dt {
 font-weight: bold;  
 margin: 2px 10px 7px 20px;
}

dd {
 margin: 2px 10px 7px 40px;
}

.reklama {
	text-align: center;
	width: 740px;
	padding: 0.5em 0 0.5em 0;
	margin: 0 auto 0 auto;
}

.vp {
	list-style-type: upper-alpha;
}

.youtubevideo {
	width: 480px;
	height: 380px;
	background: #ccc;
}

.vyrazne {
	font-weight: bold;
}

.external {
	background: url("img/e/external.png") 100% 50% no-repeat;
	padding-right: 16px;
}

.download {
	background: url("img/d/download.png") 100% 50% no-repeat;
	padding-right: 30px;
}

p.kontakt img {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	clear: none;
	float: none;
}
