RewriteEngine	on
RewriteBase /diabolo

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/diabolo/$1 [R=301,QSA,NE,L]

RewriteCond %{REQUEST_URI} index\.php
RewriteRule ^(.*)index\.php$ /diabolo/$1 [R=301,L]

RewriteRule ^(.*).html diabolo.php?show=diabolo-$1 [L]
