@font-face{font-family:'Francois One';font-style:normal;font-weight:normal;src:local('Francois One Regular'),local('FrancoisOne-Regular'),url('../olympiada/francois.woff') format('woff');}
body{font-family:'Francois One',sans-serif;font-size:1.3em;line-height:1.5em;color:#000;background:#ff69b4;text-align:center;}
p{margin: 15px 5px;}
h1{font-family:'Francois One',sans-serif;font-size:1.6em;}
