RewriteEngine	on
RewriteBase /obrazky

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/obrazky/$1 [R=301,QSA,NE,L]

RewriteRule ^stranka([0-9]+)\.html$ index.php?pageID=$1 [L]

RewriteRule ^filtr/([a-zA-Z0-9]+)$ index.php?filtr=$1 [L]
RewriteRule ^filtr$ /obrazky/filtr/ [R=301,L]
RewriteRule ^filtr/$ index.php?filtry [L]

RewriteRule ^([^/]+)/$ index.php?id=$1&pageID=1 [L]

RewriteRule ^(.+)/stranka([^/]+)$ /obrazky/$1/stranka$2/ [R=301,L]
RewriteRule ^(.+)/stranka([0-9]+)/$ index.php?id=$1&pageID=$2 [L]

RewriteRule ^(.+)/stranka([0-9]+)/([0-9]+).html$ index.php?id=$1&photo=$3&pageID=$2 [L]
RewriteRule ^(.+)/(.+).html$ index.php?id=$1&photo=$2 [L]
RewriteRule ^obrazky.rss$ index.php?rss=jo [L]
RewriteRule ^obrazky.xml$ index.php?rss=jo&v=2 [L]

RewriteCond %{HTTP_REFERER} !^http://(.*)zongl(.*)\.info [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteRule (.+)\.(jpg|png)$ /img/vodoznak.php?galerie&img=$1.$2 [L]
