RewriteEngine	on
RewriteBase /obrazky

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/obrazky/$1 [R=301,QSA,NE,L]

RewriteRule ^filtr/([a-zA-Z0-9]+)$ index.php?filtr=$1 [L]
RewriteRule ^(.+)/$ index.php?id=$1 [L]
RewriteRule ^(.+)/(.+).html$ index.php?id=$1&photo=$2 [L]
RewriteRule ^obrazky.rss$ index.php?rss=jo [L]
