RewriteEngine	on
RewriteBase /ulita

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/ulita/$1 [R=301,QSA,NE,L]

RewriteCond %{REQUEST_URI} index\.php
RewriteRule ^(.*)index\.php$ /ulita/$1 [R=301,L]

RewriteRule ^(.+)\.html$ $1.php [L]
