body{font-family:Arial,sans-serif;font-size:1.3em;line-height:1.5em;color:#000;background:#fffacd;}
p{margin:20px;}
ol{margin:20px 40px;}
h1{font-family:Arial,sans-serif;font-size:1.6em;background:url(micky.png) 100% 50% no-repeat;line-height:150px;height:150px;padding:0 200px 0 0;white-space:nowrap;overflow:hidden;}
h2,h3{font-family:Arial,sans-serif;}
h2{padding-top:20px;}
#obsah{text-align:left;width:590px;padding:0;margin:0 auto 0 auto;}
.datum{font-size:.8em;color:#999;text-align:right;}
#paticka{border-top:dashed #ccc 2px;padding:15px 0;margin:15px 0;text-align:center;}
a{font-weight:bold;color:#360;}
.pdf{background:url(/img/p/pdf.png) 100% 50% no-repeat;padding-right:20px;}
