body{font-family:Arial,sans-serif;font-size:1.3em;line-height:1.5em;color:#000;background:#fffacd;}
p{margin:5px;}
ol{margin:5px 10px;}
h1{font-family:Arial,sans-serif;font-size:1.6em;}
h2,h3{font-family:Arial,sans-serif;}
#obsah{padding:5px;margin:5px;}
.datum{font-size:.8em;color:#999;text-align:right;}
a{font-weight:bold;color:#360;}
#paticka{border-top:dashed #ccc 2px;padding:5px 0;margin:5px 0;text-align:center;}
.cta{font:bold 1.6em;font-family:Arial,sans-serif;display:inline-block;padding:0 20px;color:#fff;text-shadow:1px 1px 0 rgba(0,0,0,.35);height:50px;text-decoration:none;line-height:50px;white-space:nowrap;border-radius:5px;position:relative;z-index:10;box-shadow:0 0 3px rgba(0,0,0,.5);user-select:none;overflow:visible;outline:none;}
.cta:hover{box-shadow:0 2px 4px rgba(0,0,0,.35);}
.cta:active{box-shadow:0 0 0;}
.cta-yellow{transition:border-color .218s;border:solid 1px #db8300;background:#f90;}
.cta-yellow:hover{color:#fff;border:solid 1px #ad6800;}
.cta-yellow:active{color:#fff;border:solid 1px #ad6800;}
