.rss_lideczongl{list-style-image:url(/rss/ikonky/forum.lide.cz.png);}
.rss_fireshow{list-style-image:url(/rss/ikonky/fireshow.cz.png);}
.rss_flow{list-style-image:url(/rss/ikonky/theflow.png);}
.rss_zonglujcz{list-style-image:url(/rss/ikonky/zongluj.cz.png);}
.rss_dvaadvacitka{list-style-image:url(/rss/ikonky/22.png);}
.rss_bratri{list-style-image:url(/rss/ikonky/rajce.png);}
.rss_kruhovaparabola{list-style-image:url(/rss/ikonky/kruhovaparabola.png);}
.rss_zongler{list-style-image:url(/rss/ikonky/zongler.cz.png);}
.rss_adinfinitum{list-style-image:url(/rss/ikonky/ad8.png);}
.rss_slabikarkalendar{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_slabikarlide{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_slabikardiskuse{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_slabikartip{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_slabikarobrazky{list-style-image:url(/rss/ikonky/slabikar.png);}
.rss_infinitos{list-style-image:url(/rss/ikonky/infinitos.png);}
.rss_tribo{list-style-image:url(/rss/ikonky/tribo.png);}
