RewriteEngine	on
RewriteBase /lide

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/lide/$1 [R=301,QSA,NE,L]

RewriteRule ^dovednost$ /lide/dovednost/ [R=301,L]
RewriteRule ^dovednost/$ dovednost.php [L]
RewriteRule ^dovednost/(.+)\.html$ dovednost.php?filtr=$1 [L]

RewriteRule ^misto$ /lide/misto/ [R=301,L]
RewriteRule ^misto/$ misto.php [L]
RewriteRule ^misto/(.+)\.html$ misto.php?filtr=$1 [L]

RewriteRule ^(.+)\.html$ uzivatel.php?id=$1 [L]
RewriteRule ^foto/(.+)\.jpg$ foto.php?id=$1 [L]
RewriteRule ^uzivatele.rss$ rss.php [L]
