RewriteEngine	on
RewriteBase /horoskop/
RewriteRule zitra/?$ index.php?zitra=jo [L]
RewriteRule zitra/(.*).html index.php?znameni=$1&zitra=jo [L]

RewriteRule ^popis.html$ popis.php [L]

RewriteRule ^(.*).html$ index.php?znameni=$1 [L]
