RewriteEngine	on
RewriteBase /mdz

RewriteCond %{HTTP_HOST} ^www\.(.*)
RewriteRule (.*) http://%1/mdz/$1 [R=301,QSA,NE,L]

RewriteCond %{REQUEST_URI} index\.html
RewriteRule ^index\.html$ /mdz/$1 [R=301,L]
